# Possible options are prod or dev. No spaces, no quotes.
OPENEMR__ENVIRONMENT=
# Possible options are true to prevent dated reminders and background apps.Else empty or false. No spaces, no quotes.
OPENEMR__NO_BACKGROUND_TASKS=


# AI Environment variables
OPENAI_API_KEY=sk-...
ANTHROPIC_API_KEY=sk-ant-...
USE_ANTHROPIC=false
USE_OPENAI=false
# OPENAI_MODEL="gpt-4o-mini"
# OPENAI_TEMPERATURE=0.7
# OPENAI_MAX_TOKENS=256
# OPENAI_TOP_P=1
# OPENAI_FREQUENCY_PENALTY=0
# OPENAI_PRESENCE_PENALTY=0
# OPENAI_STOP=["\n\n\n"]
# OPENAI_SYSTEM_PROMPT="You are a helpful assistant."
# OPENAI_USER_PROMPT="User: "
# OPENAI_ASSISTANT_PROMPT="Assistant: "
# OPENAI_MAX_RETRIES=3
# OPENAI_RETRY_DELAY=1
# Possible options are prod or dev. No spaces, no quotes.
OPENEMR__ENVIRONMENT=
# Possible options are true to prevent dated reminders and background apps.Else empty or false. No spaces, no quotes.
OPENEMR__NO_BACKGROUND_TASKS=

FASTAPI_BASE_URL=http://localhost:8000
# FASTAPI_BASE_URL=http://localhost:9000 --- IGNORE ---
FASTAPI_TIMEOUT=1800